Importing Libraries

In [1]:
import pandas as pd
import numpy as np

Loading the dataset

In [73]:
df = pd.read_csv('movies_data.csv')

In [74]:
df.head()

   1 The Nightmare Before Christmas  1993  3.9    4568
0  2                      The Mummy  1932  3.5  4388.0
1  3           Orphans of the Storm  1921  3.2  9062.0
2  4           The Object of Beauty  1991  2.8  6150.0
3  5                     Night Tide  1963  2.8  5126.0
4  6            One Magic Christmas  1985  3.8  5333.0

In [70]:
df2 = {'1':'Number','2':'year','3':'rating','4':'downloads'}

dataset.head()

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49589 entries, 0 to 49588
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   1          49589 non-null  int64
 1   movies     49589 non-null  object
 2   year       49589 non-null  int64
 3   rating     10813 non-null  float64
 4   downloads  45835 non-null  float64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.9+ MB

In [9]:
dataset.isnull().sum()

1                0
movies           0
year             0
rating       38776
downloads     3754
dtype: int64

In [10]:
dataset.dropna('ratings', inplace)

NameError: name 'inplace' is not defined